.vs
bin
obj
src/artifacts
*.nupkg
*.user
**/Properties/launchSettings.json
**/testenvironments.json

# Test results
TestResults/
coverage/
*.trx
*.coverage
*.coveragexml

/viewer/venv/Lib/
/viewer/venv/share/
dotnet-sdk-*.tar.gz
