[submodule "Perfetto.Protos/perfetto-submodule"]
	path = Perfetto.Protos/perfetto-submodule
	url = https://github.com/google/perfetto.git
[submodule "parquet-dotnet"]
	path = parquet-dotnet
	url = https://github.com/Kuinox/parquet-dotnet
