[submodule "Perfetto.Protos/perfetto-submodule"]
	path = Perfetto.Protos/perfetto-submodule
	url = https://github.com/google/perfetto.git
[submodule "Plank"]
	path = Plank
	url = https://github.com/Kuinox/Plank.git
